<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.boundfoxstudios.alfred-workflow.ray-so</string>
	<key>connections</key>
	<dict>
		<key>2606C5D5-BFD0-479B-A27A-27AE1BC04B89</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D41D5C25-5539-4F67-B551-63D417787E28</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4649698B-2435-4AC6-ABB2-02EA7612F58C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4EDF3D5B-872C-40F0-9CBA-80DB21C126AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4947E1C0-E373-4CD2-A502-A6EB3FEDB597</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0A06194-62D4-44BF-8702-1232DA2B9A57</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4CA1E0BB-D51F-4509-845E-31B3869824BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2606C5D5-BFD0-479B-A27A-27AE1BC04B89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4EDF3D5B-872C-40F0-9CBA-80DB21C126AB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4CA1E0BB-D51F-4509-845E-31B3869824BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9E38E89B-7D07-4618-823D-6552EEC7DE2E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4649698B-2435-4AC6-ABB2-02EA7612F58C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D0A06194-62D4-44BF-8702-1232DA2B9A57</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9E38E89B-7D07-4618-823D-6552EEC7DE2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D41D5C25-5539-4F67-B551-63D417787E28</key>
		<array/>
		<key>D8B82E7D-453C-40A5-A90B-771D5135DFC0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0A06194-62D4-44BF-8702-1232DA2B9A57</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E6BE5A2C-438B-424A-B68A-A5462EE073F9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8B82E7D-453C-40A5-A90B-771D5135DFC0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Manuel Rauber</string>
	<key>description</key>
	<string>Opens ray.so to create nice code screenshots using the code in clipboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ray.so</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>code=$1

code=$(echo -n "$code" | base64)

# Urlencode any + symbols in the base64 encoded string
code=${code//+/%2B}

echo -n $code</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2606C5D5-BFD0-479B-A27A-27AE1BC04B89</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ray</string>
				<key>subtext</key>
				<string>Create with default language {var:defaultLanguage}</string>
				<key>text</key>
				<string>ray.so</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E6BE5A2C-438B-424A-B68A-A5462EE073F9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://ray.so/#title=powered+by+ray.so&amp;theme={var:colors}&amp;spacing={var:spacing}&amp;background={var:background}&amp;darkMode={var:darkMode}&amp;code={query}&amp;language={var:language}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D41D5C25-5539-4F67-B551-63D417787E28</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>ObjC.import('stdlib');

function run(argv) {
  var query = argv[0];
  var background = $.getenv('background').trim() == '1' ? 'true' : 'false';
  var darkMode = $.getenv('darkMode').trim() == '1' ? 'true' : 'false';
  
  var lines = query.split('\n');
  
  while (lines.length &amp;&amp; !/\S/.test(lines[0])) {
    lines.shift();
  }

  while (lines.length &amp;&amp; !/\S/.test(lines[lines.length - 1])) {
    lines.pop();
  }

  var leadingWhitespaces = lines.length ? lines[0].match(/^\s*/g)[0].length : 0;
  var processedLines = lines.map(line =&gt; /\S/.test(line) ? line.slice(leadingWhitespaces) : line);
  
  query = processedLines.join('\n');
//  query = encodeURIComponent(query);

  return JSON.stringify({
    "alfredworkflow": {
      "arg": query,
      "variables": {
        "background": background,
        "darkMode": darkMode
      }
    }
  });
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4CA1E0BB-D51F-4509-845E-31B3869824BC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{clipboard}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4EDF3D5B-872C-40F0-9CBA-80DB21C126AB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>^ts$</string>
				<key>regexcaseinsensitive</key>
				<true/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>typescript</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>D0A06194-62D4-44BF-8702-1232DA2B9A57</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string></string>
				<key>replacestring</key>
				<string>{var:defaultLanguage}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>D8B82E7D-453C-40A5-A90B-771D5135DFC0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>^cs$</string>
				<key>regexcaseinsensitive</key>
				<true/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>csharp</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>9E38E89B-7D07-4618-823D-6552EEC7DE2E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>language</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4649698B-2435-4AC6-ABB2-02EA7612F58C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ray</string>
				<key>subtext</key>
				<string>Create with language {query}</string>
				<key>text</key>
				<string>ray.so</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4947E1C0-E373-4CD2-A502-A6EB3FEDB597</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow creates a URL to open ray.so to beautify your code and create a nice screenshot.

It supports all languages that are known to ray.so, defaulting to csharp.

Usage:

* Copy the code you want to beautify
* Invoke Alfred via "ray" keyword, and optional the language you want to use
* ray.so will open in your browser, just hit CMD+C to copy the image to your clipboard

Notes:

It will replace "ts" with "typescript" and "cs" with "csharp".

Also, the workflow will remove blank lines before and after the code. It will also count the whitespace characters in the first line and remove the appropriate count from each line. So make sure that your code is correctly formatted.

Defaults (changeable via User Configuration):

- colors: candy
- defaultLanguage: csharp
- background: true
- darkMode: true
- spacing: 32

Thanks to ray.so for providing nice screenshots for our code. :-)</string>
	<key>uidata</key>
	<dict>
		<key>2606C5D5-BFD0-479B-A27A-27AE1BC04B89</key>
		<dict>
			<key>note</key>
			<string>base64</string>
			<key>xpos</key>
			<real>1140</real>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>4649698B-2435-4AC6-ABB2-02EA7612F58C</key>
		<dict>
			<key>xpos</key>
			<real>695</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>4947E1C0-E373-4CD2-A502-A6EB3FEDB597</key>
		<dict>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>675</real>
		</dict>
		<key>4CA1E0BB-D51F-4509-845E-31B3869824BC</key>
		<dict>
			<key>note</key>
			<string>Transform the code</string>
			<key>xpos</key>
			<real>985</real>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>4EDF3D5B-872C-40F0-9CBA-80DB21C126AB</key>
		<dict>
			<key>note</key>
			<string>Get clipboard content</string>
			<key>xpos</key>
			<real>840</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>9E38E89B-7D07-4618-823D-6552EEC7DE2E</key>
		<dict>
			<key>note</key>
			<string>Replace "cs" with "csharp"</string>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>D0A06194-62D4-44BF-8702-1232DA2B9A57</key>
		<dict>
			<key>note</key>
			<string>Replace "ts" with "typescript"</string>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>D41D5C25-5539-4F67-B551-63D417787E28</key>
		<dict>
			<key>xpos</key>
			<real>1315</real>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>D8B82E7D-453C-40A5-A90B-771D5135DFC0</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Default Language</string>
			<key>xpos</key>
			<real>380</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>E6BE5A2C-438B-424A-B68A-A5462EE073F9</key>
		<dict>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>490</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string>Whether to show a background around the code window or not.</string>
			<key>label</key>
			<string>Background</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>background</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>candy</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Breeze</string>
						<string>breeze</string>
					</array>
					<array>
						<string>Candy</string>
						<string>candy</string>
					</array>
					<array>
						<string>Crimson</string>
						<string>crimson</string>
					</array>
					<array>
						<string>Falcon</string>
						<string>falcon</string>
					</array>
					<array>
						<string>Meadow</string>
						<string>meadow</string>
					</array>
					<array>
						<string>Midnight</string>
						<string>midnight</string>
					</array>
					<array>
						<string>Raindrop</string>
						<string>raindrop</string>
					</array>
					<array>
						<string>Sunset</string>
						<string>sunset</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>One of the available ray.so colors to use for the code highlighting.</string>
			<key>label</key>
			<string>Color</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>colors</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string>Whether to enable dark mode or not.</string>
			<key>label</key>
			<string>Dark mode</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>darkMode</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>csharp</string>
				<key>placeholder</key>
				<string>https://www.ray.so for available languages</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Set the default language to use for code highlighting if you don't provide further context when executing the action. See all available possibilities on https://www.ray.so</string>
			<key>label</key>
			<string>Default Language</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>defaultLanguage</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>32</string>
				<key>placeholder</key>
				<string>Enter a positive number</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Padding between code window and background. Please enter a number</string>
			<key>label</key>
			<string>Padding</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>spacing</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.0.1</string>
	<key>webaddress</key>
	<string>https://boundfoxstudios.com</string>
</dict>
</plist>
