<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>__country_code</key>
	<string>IN</string>
	<key>__display_name</key>
	<string>KRISH</string>
	<key>__fuzzy_search</key>
	<true/>
	<key>__oauth_access_token</key>
	<string>BQBzzpfOQ3p1lXF8SEEKLwvWzYhX6Dv1wGdL7MFF28gySZ_R3S-g4eqeaIOPjNpNOQva2jhpYxs6PK8pZj-qT8pq4yynREMSWS-qjkzYI_wbtFPMM05ofRyP08fam6aX7Lfo2-XIMKhAQ-nqq9NoGCsZQmJ0FXJNDmN6rAz_bDDhCP1Mja72SRl-g2jkGuFYf_4dyqQsmpnOWrr_exHUW45hZS9KY4ou3ZK9-Sc5QuAb81oYOY5Bk4lDPKyFUrSm3uUbn-WKzoihA0tjv052072wEnSobQuXv2gd7Vu9-ZBh6oEO2iIA3zNUPyWoOyPgYpOXhYA87Q</string>
	<key>__oauth_client_id</key>
	<string>769703589cfb448b8ca3513f899110b5</string>
	<key>__oauth_client_secret</key>
	<string>33bdf18fde56460cb49855ad45575cf7</string>
	<key>__oauth_refresh_token</key>
	<string>AQDdvsEej6yjIf9T14JbBezx_FIa2kZPYcW7Qjeqi_o679TmnIqxxY2hTuni_oFz5Z1boayjfggSiqiEEH8wQOCSoE-BSxd97AP0vxMKA4_cc9uZQWiTMkaHCt3n0V_zzxQ</string>
	<key>__use_artworks</key>
	<string>0</string>
	<key>__userid</key>
	<string>727rwr9gweu1oyezhvd3ts47i</string>
</dict>
</plist>
