<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>applemusic.controller</string>
	<key>connections</key>
	<dict>
		<key>10ED7BF4-4434-4189-94A6-11308EC25F9D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F8F76979-EDB9-4478-BF97-74B907AFD967</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2F8AE2F8-E683-4AD8-AC89-41AE4B592E6F</key>
		<array/>
		<key>38F7CAC7-1EF0-4890-84F1-9077EF7B05AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21B05D28-66AB-4B59-98F2-BBF47F409E38</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5855747A-37B8-4DE1-8C1B-7FD16FEED6C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E64ED5EB-1C06-4E77-93AD-008375098D7B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B2E2839-20D1-44E7-A2D4-6AB8CDAF3DF4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D27CC2D9-0072-4B22-9DCE-8F18FD66B0D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>647BE0B6-909C-4CA1-90A3-73A335D7FE12</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93A6BCD5-A770-42BE-99E5-40589B15DE1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7399301B-DAF5-433A-8269-B995E580FBA9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>441E8829-9035-46C6-B164-D3A463D1B613</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>743FC160-C3CC-4856-A125-5CD0B90BB0FC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FCB05899-80B1-4FAC-B158-31FED2D6B3F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>838B1178-F06C-4BDA-BDDF-C393A7A94EF5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2F8AE2F8-E683-4AD8-AC89-41AE4B592E6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD6D60A5-66DF-4298-B6DF-58CD5E40EDEA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DEB9143E-A0CB-484C-BEB8-3DEFA35229A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD8CBD67-A2C5-438F-869E-9B65F2321A90</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>165BE73E-619C-406B-9B69-14BD2A94246A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>zcjava</string>
	<key>description</key>
	<string>AppleMusicController for alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AppleMusicController</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>am pt</string>
				<key>subtext</key>
				<string>pt</string>
				<key>text</key>
				<string>previous track</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>10ED7BF4-4434-4189-94A6-11308EC25F9D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.itunescommand</string>
			<key>uid</key>
			<string>F8F76979-EDB9-4478-BF97-74B907AFD967</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "Music" to activateend alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>165BE73E-619C-406B-9B69-14BD2A94246A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>am op</string>
				<key>subtext</key>
				<string>op</string>
				<key>text</key>
				<string>open Music</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CD8CBD67-A2C5-438F-869E-9B65F2321A90</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>am rd</string>
				<key>subtext</key>
				<string>rd</string>
				<key>text</key>
				<string>random</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5B2E2839-20D1-44E7-A2D4-6AB8CDAF3DF4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>4</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.itunescommand</string>
			<key>uid</key>
			<string>D27CC2D9-0072-4B22-9DCE-8F18FD66B0D5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>am cl</string>
				<key>subtext</key>
				<string>cl</string>
				<key>text</key>
				<string>close Music</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>38F7CAC7-1EF0-4890-84F1-9077EF7B05AF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
 tell application "Music"	quit end tellend alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>21B05D28-66AB-4B59-98F2-BBF47F409E38</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>15</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.itunescommand</string>
			<key>uid</key>
			<string>DEB9143E-A0CB-484C-BEB8-3DEFA35229A8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>am bt</string>
				<key>subtext</key>
				<string>bt</string>
				<key>text</key>
				<string>back track</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AD6D60A5-66DF-4298-B6DF-58CD5E40EDEA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>am pp</string>
				<key>subtext</key>
				<string>pp</string>
				<key>text</key>
				<string>play or pause</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>743FC160-C3CC-4856-A125-5CD0B90BB0FC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.itunescommand</string>
			<key>uid</key>
			<string>FCB05899-80B1-4FAC-B158-31FED2D6B3F3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>13</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.itunescommand</string>
			<key>uid</key>
			<string>E64ED5EB-1C06-4E77-93AD-008375098D7B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>am rt</string>
				<key>subtext</key>
				<string>rt</string>
				<key>text</key>
				<string>rating five stars</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5855747A-37B8-4DE1-8C1B-7FD16FEED6C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.itunescommand</string>
			<key>uid</key>
			<string>441E8829-9035-46C6-B164-D3A463D1B613</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>am nt</string>
				<key>subtext</key>
				<string>nt</string>
				<key>text</key>
				<string>next track</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7399301B-DAF5-433A-8269-B995E580FBA9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "Music"	set thePlaylist to user playlist "play"
	set theLibray to "Library"
	set trackName to name of current track	set artistName to artist of current track	try		duplicate current track to source theLibray	end try		delay 5 		(* Copy track to playlist *)	set foundTracks to (every track of library playlist 1 whose artist is artistName and name is trackName)	repeat with theTrack in foundTracks				duplicate theTrack to thePlaylist	end repeatend tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>2F8AE2F8-E683-4AD8-AC89-41AE4B592E6F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>am ap</string>
				<key>subtext</key>
				<string>ap</string>
				<key>text</key>
				<string>add current song to playlist's play</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>838B1178-F06C-4BDA-BDDF-C393A7A94EF5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>am sw</string>
				<key>subtext</key>
				<string>sw</string>
				<key>text</key>
				<string>switch miniplayer</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>647BE0B6-909C-4CA1-90A3-73A335D7FE12</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "System Events"	tell process "Music"		if title of window 1 is "MiniPlayer" then			click button 1 of window 1 --close button		else			click menu item "MiniPlayer" of menu "Window" of menu bar item "Window" of menu bar 1		end if	end tell  end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>93A6BCD5-A770-42BE-99E5-40589B15DE1B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>am sw</string>
				<key>subtext</key>
				<string>sw</string>
				<key>text</key>
				<string>switch miniplayer</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>526CF14C-BBC3-467E-8A6D-978B7E355DFD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>10ED7BF4-4434-4189-94A6-11308EC25F9D</key>
		<dict>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>165BE73E-619C-406B-9B69-14BD2A94246A</key>
		<dict>
			<key>xpos</key>
			<integer>415</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>21B05D28-66AB-4B59-98F2-BBF47F409E38</key>
		<dict>
			<key>xpos</key>
			<integer>415</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>2F8AE2F8-E683-4AD8-AC89-41AE4B592E6F</key>
		<dict>
			<key>xpos</key>
			<integer>1100</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
		<key>38F7CAC7-1EF0-4890-84F1-9077EF7B05AF</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>441E8829-9035-46C6-B164-D3A463D1B613</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>505</integer>
		</dict>
		<key>526CF14C-BBC3-467E-8A6D-978B7E355DFD</key>
		<dict>
			<key>xpos</key>
			<integer>715</integer>
			<key>ypos</key>
			<integer>1290</integer>
		</dict>
		<key>5855747A-37B8-4DE1-8C1B-7FD16FEED6C7</key>
		<dict>
			<key>xpos</key>
			<integer>715</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>5B2E2839-20D1-44E7-A2D4-6AB8CDAF3DF4</key>
		<dict>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>647BE0B6-909C-4CA1-90A3-73A335D7FE12</key>
		<dict>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>770</integer>
		</dict>
		<key>7399301B-DAF5-433A-8269-B995E580FBA9</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>505</integer>
		</dict>
		<key>743FC160-C3CC-4856-A125-5CD0B90BB0FC</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>838B1178-F06C-4BDA-BDDF-C393A7A94EF5</key>
		<dict>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
		<key>93A6BCD5-A770-42BE-99E5-40589B15DE1B</key>
		<dict>
			<key>xpos</key>
			<integer>1095</integer>
			<key>ypos</key>
			<integer>770</integer>
		</dict>
		<key>AD6D60A5-66DF-4298-B6DF-58CD5E40EDEA</key>
		<dict>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>CD8CBD67-A2C5-438F-869E-9B65F2321A90</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>D27CC2D9-0072-4B22-9DCE-8F18FD66B0D5</key>
		<dict>
			<key>xpos</key>
			<integer>1095</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>DEB9143E-A0CB-484C-BEB8-3DEFA35229A8</key>
		<dict>
			<key>xpos</key>
			<integer>1095</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>E64ED5EB-1C06-4E77-93AD-008375098D7B</key>
		<dict>
			<key>xpos</key>
			<integer>1090</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>F8F76979-EDB9-4478-BF97-74B907AFD967</key>
		<dict>
			<key>xpos</key>
			<integer>1095</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>FCB05899-80B1-4FAC-B158-31FED2D6B3F3</key>
		<dict>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/zcjava/AppleMusicController</string>
</dict>
</plist>
