<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.SoloUnity.SpotifyGlobalCommands</string>
	<key>connections</key>
	<dict>
		<key>008906FB-02A8-4212-A2D7-CE91DC3F99B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9B67C43-513A-4F1F-BC60-628D4C291AC3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>05B6EC6D-2388-4516-9B3A-61307E091935</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB3CCFDA-A5AD-41D0-8CD6-E3C173A89210</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0621FB16-2D22-49AE-8475-7318E8A2BB2A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E137817-42B2-49E7-8629-BA9FC8337804</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0D1C40AE-7032-4487-AF2E-D90836AC95CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8672E0A0-28F2-40DE-AFE0-AE7553BD01B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1E739F5B-A7C4-4386-8031-6533FF75A313</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8672E0A0-28F2-40DE-AFE0-AE7553BD01B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>24EEFD27-0741-43D3-9D58-4A55B4AEF0F8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D33DD03A-0D69-432A-821F-719CEE83BD07</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3A8186D1-14DA-4603-9F21-C7BE3DF70F59</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F41BD62A-A2CE-4319-80B3-A73B87E5D006</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3C09AADA-D9C6-4595-A265-F7587576EC04</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6617D320-5A09-47DD-BCBD-EF4975259386</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4DC7507B-5990-43B0-A6EA-3436AB5B9F91</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F3DB8FCA-474A-4070-A8FF-CFA2661100C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>55EFB044-B9B6-4A5D-AD65-81158009AA9F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6617D320-5A09-47DD-BCBD-EF4975259386</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5E4BE8BD-1E40-493B-B4F9-77BC38CE4CD1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A8186D1-14DA-4603-9F21-C7BE3DF70F59</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>66C66E2B-0410-43F2-80EF-7758396A39F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E137817-42B2-49E7-8629-BA9FC8337804</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E20091E-97CC-460B-9C9D-7F3252B77CCB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F3DB8FCA-474A-4070-A8FF-CFA2661100C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7444557D-CF21-4AA6-96BC-7BA5A6E9691E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>052185CA-92BC-4A3B-9252-30878439A935</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7EACA8E9-DEB5-479B-842F-F472E1471242</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E4BE8BD-1E40-493B-B4F9-77BC38CE4CD1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8B54C364-3FC5-4C4C-A834-C0DAF835D1BB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>052185CA-92BC-4A3B-9252-30878439A935</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8EE9D83F-D9D5-482B-B62C-3702B26EC9FB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46D6DEED-4D2F-4A1D-9E3A-A924DFFA9E81</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9118DB13-6075-4371-B38A-4D55340CF695</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46D6DEED-4D2F-4A1D-9E3A-A924DFFA9E81</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9F3327E4-F406-470D-A478-DDE43C6B4D0E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E4BE8BD-1E40-493B-B4F9-77BC38CE4CD1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A2DFF90C-4F1D-4009-8432-475F6976AE9A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>05B6EC6D-2388-4516-9B3A-61307E091935</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC4DE19F-6446-4E4B-BE06-41D1480F3D70</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>05B6EC6D-2388-4516-9B3A-61307E091935</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DD990334-3963-444C-AD0B-E599A1CE6FC5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D33DD03A-0D69-432A-821F-719CEE83BD07</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E68C9478-D178-49D3-ADA4-D547911F6B1A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9B85735D-4014-4BF5-BDAB-8780415A86C2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F3DB8FCA-474A-4070-A8FF-CFA2661100C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E68C9478-D178-49D3-ADA4-D547911F6B1A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F631A217-EA21-4052-B610-DDCE35126E9E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9B67C43-513A-4F1F-BC60-628D4C291AC3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>SoloUnity</string>
	<key>description</key>
	<string>Control Spotify anywhere globally</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Spotify Commands</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3C09AADA-D9C6-4595-A265-F7587576EC04</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  	tell application "Spotify"
		set sound volume to sound volume + 11
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>6617D320-5A09-47DD-BCBD-EF4975259386</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1E739F5B-A7C4-4386-8031-6533FF75A313</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  	tell application "Spotify"
		next track
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>8672E0A0-28F2-40DE-AFE0-AE7553BD01B9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>!s</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Skip Song</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0D1C40AE-7032-4487-AF2E-D90836AC95CD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>!sup</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Spotify Volume Up</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>55EFB044-B9B6-4A5D-AD65-81158009AA9F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>!b</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Previous Song</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8EE9D83F-D9D5-482B-B62C-3702B26EC9FB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  	tell application "Spotify"
		set sound volume to sound volume - 11
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>D33DD03A-0D69-432A-821F-719CEE83BD07</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9118DB13-6075-4371-B38A-4D55340CF695</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>!sdown</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Spotify Volume Down</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>24EEFD27-0741-43D3-9D58-4A55B4AEF0F8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  	tell application "Spotify"
		previous track
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>46D6DEED-4D2F-4A1D-9E3A-A924DFFA9E81</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>DD990334-3963-444C-AD0B-E599A1CE6FC5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>66C66E2B-0410-43F2-80EF-7758396A39F5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  	tell application "Spotify"
		playpause
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>6E137817-42B2-49E7-8629-BA9FC8337804</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>!p</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Play/Pause</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0621FB16-2D22-49AE-8475-7318E8A2BB2A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  	set vol to output volume of (get volume settings)
	set volume output volume (vol + 10)
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>052185CA-92BC-4A3B-9252-30878439A935</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7444557D-CF21-4AA6-96BC-7BA5A6E9691E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>!volup</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Volume Up</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8B54C364-3FC5-4C4C-A834-C0DAF835D1BB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  	set vol to output volume of (get volume settings)
	set volume output volume (vol - 10)
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>E9B67C43-513A-4F1F-BC60-628D4C291AC3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>008906FB-02A8-4212-A2D7-CE91DC3F99B2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>!voldown</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Volume Down</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F631A217-EA21-4052-B610-DDCE35126E9E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>!shuffle</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Toggle Shuffle</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6E20091E-97CC-460B-9C9D-7F3252B77CCB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Shuffle toggled {query}</string>
				<key>title</key>
				<string>Spotify Commands</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9B85735D-4014-4BF5-BDAB-8780415A86C2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4DC7507B-5990-43B0-A6EA-3436AB5B9F91</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1
sid=$(echo $query)
echo -n "$sid"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E68C9478-D178-49D3-ADA4-D547911F6B1A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  	tell application "Spotify"
		set shuffling to not shuffling
		if shuffling then
			set isShuffling to "off"
		else
			set isShuffling to "on"
		end if
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>F3DB8FCA-474A-4070-A8FF-CFA2661100C8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1
sid=$(echo $query)
echo -n "$sid"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3A8186D1-14DA-4603-9F21-C7BE3DF70F59</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  	tell application "Spotify"
		set repeating to not repeating
		if repeating then
			set isRepeating to "off"
		else
			set isRepeating to "on"
		end if
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>5E4BE8BD-1E40-493B-B4F9-77BC38CE4CD1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>!loop</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Toggle Loop</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9F3327E4-F406-470D-A478-DDE43C6B4D0E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7EACA8E9-DEB5-479B-842F-F472E1471242</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Loop toggled {query}</string>
				<key>title</key>
				<string>Spotify Commands</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F41BD62A-A2CE-4319-80B3-A73B87E5D006</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>By {var:ARTIST} on {var:ALBUM}</string>
				<key>title</key>
				<string>{var:NAME}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>FB3CCFDA-A5AD-41D0-8CD6-E3C173A89210</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>CC4DE19F-6446-4E4B-BE06-41D1480F3D70</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)

	tell application "Spotify"		set ctrack to the current track		set cartist to the artist of ctrack as text
		set cname to the name of ctrack as text 
		set calbum to the album of ctrack as text 
		
	
		set strJSON to "{\"alfredworkflow\": {\"variables\": {"
	
		set strJSON to strJSON &amp; "\"NAME\": \"" &amp; cname &amp; "\", "
		set strJSON to strJSON &amp; "\"ARTIST\": \"" &amp; cartist &amp; "\", "
		set strJSON to strJSON &amp; "\"ALBUM\": \"" &amp; calbum &amp; "\", "
	
		set strJSON to strJSON &amp; "}}}"
	
		return strJSON
	  	end tell

end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>05B6EC6D-2388-4516-9B3A-61307E091935</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>!whodis</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Whodis?</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A2DFF90C-4F1D-4009-8432-475F6976AE9A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Quick and dirty workflow since I hate running media controls off a remote server. 

Song name finder from the whodis workflow
Icon from: @FelixMeens 
https://twitter.com/FelixMeens</string>
	<key>uidata</key>
	<dict>
		<key>008906FB-02A8-4212-A2D7-CE91DC3F99B2</key>
		<dict>
			<key>xpos</key>
			<integer>1020</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
		<key>052185CA-92BC-4A3B-9252-30878439A935</key>
		<dict>
			<key>xpos</key>
			<integer>1190</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>05B6EC6D-2388-4516-9B3A-61307E091935</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>0621FB16-2D22-49AE-8475-7318E8A2BB2A</key>
		<dict>
			<key>note</key>
			<string>Play/pause track, launches spotify when the app is not running</string>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>0D1C40AE-7032-4487-AF2E-D90836AC95CD</key>
		<dict>
			<key>note</key>
			<string>Next track, skip</string>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>1E739F5B-A7C4-4386-8031-6533FF75A313</key>
		<dict>
			<key>xpos</key>
			<integer>185</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>24EEFD27-0741-43D3-9D58-4A55B4AEF0F8</key>
		<dict>
			<key>note</key>
			<string>Spotify volume down</string>
			<key>xpos</key>
			<integer>855</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>3A8186D1-14DA-4603-9F21-C7BE3DF70F59</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>3C09AADA-D9C6-4595-A265-F7587576EC04</key>
		<dict>
			<key>xpos</key>
			<integer>1010</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>46D6DEED-4D2F-4A1D-9E3A-A924DFFA9E81</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>4DC7507B-5990-43B0-A6EA-3436AB5B9F91</key>
		<dict>
			<key>xpos</key>
			<integer>185</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>55EFB044-B9B6-4A5D-AD65-81158009AA9F</key>
		<dict>
			<key>note</key>
			<string>Spotify volume up</string>
			<key>xpos</key>
			<integer>855</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>5E4BE8BD-1E40-493B-B4F9-77BC38CE4CD1</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>6617D320-5A09-47DD-BCBD-EF4975259386</key>
		<dict>
			<key>xpos</key>
			<integer>1185</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>66C66E2B-0410-43F2-80EF-7758396A39F5</key>
		<dict>
			<key>xpos</key>
			<integer>185</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>6E137817-42B2-49E7-8629-BA9FC8337804</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>6E20091E-97CC-460B-9C9D-7F3252B77CCB</key>
		<dict>
			<key>note</key>
			<string>Toggle shuffle</string>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>7444557D-CF21-4AA6-96BC-7BA5A6E9691E</key>
		<dict>
			<key>xpos</key>
			<integer>1015</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>7EACA8E9-DEB5-479B-842F-F472E1471242</key>
		<dict>
			<key>xpos</key>
			<integer>185</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>8672E0A0-28F2-40DE-AFE0-AE7553BD01B9</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>8B54C364-3FC5-4C4C-A834-C0DAF835D1BB</key>
		<dict>
			<key>note</key>
			<string>System volume up</string>
			<key>xpos</key>
			<integer>855</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>8EE9D83F-D9D5-482B-B62C-3702B26EC9FB</key>
		<dict>
			<key>note</key>
			<string>Previous track, back</string>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>9118DB13-6075-4371-B38A-4D55340CF695</key>
		<dict>
			<key>xpos</key>
			<integer>185</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>9B85735D-4014-4BF5-BDAB-8780415A86C2</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>9F3327E4-F406-470D-A478-DDE43C6B4D0E</key>
		<dict>
			<key>note</key>
			<string>Toggle loop</string>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>A2DFF90C-4F1D-4009-8432-475F6976AE9A</key>
		<dict>
			<key>note</key>
			<string>Displays what the song is, orignally from the whodis workflow</string>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>755</integer>
		</dict>
		<key>CC4DE19F-6446-4E4B-BE06-41D1480F3D70</key>
		<dict>
			<key>xpos</key>
			<integer>185</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>D33DD03A-0D69-432A-821F-719CEE83BD07</key>
		<dict>
			<key>xpos</key>
			<integer>1190</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>DD990334-3963-444C-AD0B-E599A1CE6FC5</key>
		<dict>
			<key>xpos</key>
			<integer>1010</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>E68C9478-D178-49D3-ADA4-D547911F6B1A</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>E9B67C43-513A-4F1F-BC60-628D4C291AC3</key>
		<dict>
			<key>xpos</key>
			<integer>1190</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
		<key>F3DB8FCA-474A-4070-A8FF-CFA2661100C8</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>F41BD62A-A2CE-4319-80B3-A73B87E5D006</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>F631A217-EA21-4052-B610-DDCE35126E9E</key>
		<dict>
			<key>note</key>
			<string>System volume down</string>
			<key>xpos</key>
			<integer>855</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
		<key>FB3CCFDA-A5AD-41D0-8CD6-E3C173A89210</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>isShuffle</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>isShuffle</string>
	</array>
	<key>version</key>
	<string>1.0.6</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
