<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>0D41CD1D-024B-4962-B96B-9488FDB8D5BA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>yt</string>
			<key>text</key>
			<string>Youtube</string>
			<key>url</key>
			<string>https://www.youtube.com/results?search_query={query}&amp;page={startPage?}&amp;utm_source=opensearch</string>
		</dict>
		<key>2AFC1EF6-38CE-4E83-A33F-6E009C74F959</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>academia</string>
			<key>text</key>
			<string>Academia</string>
			<key>url</key>
			<string>https://academia.srmist.edu.in/</string>
		</dict>
		<key>526FB9DF-2414-4EE1-B856-72797072B00F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>chat</string>
			<key>text</key>
			<string>ChatGPT</string>
			<key>url</key>
			<string>https://chat.openai.com/?q={query}</string>
		</dict>
		<key>5B3F8FFE-58DA-4BC1-A7A5-2197CE9C175D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wifi</string>
			<key>text</key>
			<string>Hostel Net</string>
			<key>url</key>
			<string>https://iach.srmist.edu.in/Connect/PortalMain</string>
		</dict>
		<key>64807077-03AE-442C-8723-C2F94393055A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tpwifi</string>
			<key>text</key>
			<string>TP NET</string>
			<key>url</key>
			<string>https://iac.srmist.edu.in/Connect/PortalMain</string>
		</dict>
		<key>8B2AAFE0-A6AC-4731-8E52-F1D36939FB3F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>image</string>
			<key>text</key>
			<string>DALL-E</string>
			<key>url</key>
			<string>https://chatgpt.com/g/g-2fkFE8rbu-dall-e/?q={query}</string>
		</dict>
		<key>B50A6B16-F420-42EE-A221-301DF4DB3610</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>diagram</string>
			<key>text</key>
			<string>Whimsical</string>
			<key>url</key>
			<string>https://chatgpt.com/g/g-vI2kaiM9N-whimsical-diagrams/?q={query}</string>
		</dict>
		<key>ED9BAA81-FBE9-41C2-A633-4F52855FAC5D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>attendance</string>
			<key>text</key>
			<string>Attendance</string>
			<key>url</key>
			<string>https://academia.srmist.edu.in/#Page:My_Attendance</string>
		</dict>
	</dict>
</dict>
</plist>
