<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.luceparadisiaca.hombrewcontroller</string>
	<key>connections</key>
	<dict>
		<key>06F0D797-6B16-42D8-84A0-7DEF391E6921</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A839120-0B5F-4728-B35F-10F1D4346DE1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0BDD3EE1-95BF-4F17-AA8D-621211BE2541</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E4862B7D-8117-4AC1-A0FB-5D92D3D7F278</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0C5ECA5F-B4BE-4237-B104-59E9EE3D919D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FDB1EECD-3E1D-4C9A-82C6-5E20F007FECB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>22EC5709-DC12-41B8-8B71-B7F0CB6D1F7D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B1524FF7-2848-40D1-A48A-A3E551E1F8F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2D706DA8-92E4-43EC-AE93-C89FD047B386</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ECA20821-A53F-4901-BDE5-E5C36573A0D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>42F0DC0A-25A1-4226-950C-84FBD1F416DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9FC77489-D18B-4426-9E0F-C8A2C0B352A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>700EC258-DC12-4938-BC1E-B239D4DF7BF6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52BD138A-57E0-44AF-966F-99D792B0D03D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90E562E9-B8E2-4E00-A60E-41CECCEC52E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7FF0F568-2B83-41D3-9A8D-D091DEC1E0EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A45563E7-2051-4FAF-BFE4-914A6D8E0A56</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>40755BCB-52BA-4649-A2BD-23A5376B4650</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B11B132B-4A61-4C05-8F4F-2111F454E6C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26DA2609-8A71-4F58-B9BF-DFD55318CC6D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D9127892-B8DC-4F04-9918-7CC1052A97E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>411ACE9D-C020-4C1D-BD60-B90894839683</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F060EB93-428D-415E-9813-47F1BD48549B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E5205D5-70BE-46E3-BC0A-57A8D262D72E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F6F9FB02-DC97-4551-A437-0EA351D514BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>509B0D63-4875-4B46-B418-1F5F04CA8FBC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>luceparadisiaca</string>
	<key>description</key>
	<string>Manage Homebrew with Alfred 5</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>homebrew controller</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>brew install</string>
				<key>subtext</key>
				<string>Install a package.</string>
				<key>text</key>
				<string>brew install '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B11B132B-4A61-4C05-8F4F-2111F454E6C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>brew install {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>26DA2609-8A71-4F58-B9BF-DFD55318CC6D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>brew uninstall {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>7FF0F568-2B83-41D3-9A8D-D091DEC1E0EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>brew uninstall</string>
				<key>subtext</key>
				<string>Remove/Uninstall a package.</string>
				<key>text</key>
				<string>brew uninstall '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>90E562E9-B8E2-4E00-A60E-41CECCEC52E9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>brew update</string>
				<key>subtext</key>
				<string>Update brew and cask
Update brew and cask
Update brew and cask
Update brew and cask.</string>
				<key>text</key>
				<string>brew update</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A45563E7-2051-4FAF-BFE4-914A6D8E0A56</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>brew update</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>40755BCB-52BA-4649-A2BD-23A5376B4650</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>brew upgrade</string>
				<key>subtext</key>
				<string>Uprage all packages.</string>
				<key>text</key>
				<string>brew upgrade</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>42F0DC0A-25A1-4226-950C-84FBD1F416DB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>brew upgrade</string>
				<key>subtext</key>
				<string>Upgrade a specific package.</string>
				<key>text</key>
				<string>brew upgrade '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F6F9FB02-DC97-4551-A437-0EA351D514BA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>brew upgrade {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>509B0D63-4875-4B46-B418-1F5F04CA8FBC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>brew upgrade</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>9FC77489-D18B-4426-9E0F-C8A2C0B352A2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>brew list</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>52BD138A-57E0-44AF-966F-99D792B0D03D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>brew list</string>
				<key>subtext</key>
				<string>List all installed packages.</string>
				<key>text</key>
				<string>brew list</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>700EC258-DC12-4938-BC1E-B239D4DF7BF6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>brew info</string>
				<key>subtext</key>
				<string>List packages, files and sizes.</string>
				<key>text</key>
				<string>brew info</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>06F0D797-6B16-42D8-84A0-7DEF391E6921</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>brew info</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>4A839120-0B5F-4728-B35F-10F1D4346DE1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>brew cleanup</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>411ACE9D-C020-4C1D-BD60-B90894839683</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>brew cleanup</string>
				<key>subtext</key>
				<string>Remove older versions of a specific package.</string>
				<key>text</key>
				<string>brew cleanup '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0BDD3EE1-95BF-4F17-AA8D-621211BE2541</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>brew cleanup {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>E4862B7D-8117-4AC1-A0FB-5D92D3D7F278</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>brew cleanup</string>
				<key>subtext</key>
				<string>Remove old packages versions.</string>
				<key>text</key>
				<string>brew cleanup</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D9127892-B8DC-4F04-9918-7CC1052A97E6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>brew doctor</string>
				<key>subtext</key>
				<string>Diagnose brew issues</string>
				<key>text</key>
				<string>brew doctor</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0C5ECA5F-B4BE-4237-B104-59E9EE3D919D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>brew doctor</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>FDB1EECD-3E1D-4C9A-82C6-5E20F007FECB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>brew outdated</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>6E5205D5-70BE-46E3-BC0A-57A8D262D72E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>brew outdated</string>
				<key>subtext</key>
				<string>Show package with an updated version available.</string>
				<key>text</key>
				<string>brew outdated</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F060EB93-428D-415E-9813-47F1BD48549B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>brew --version</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>B1524FF7-2848-40D1-A48A-A3E551E1F8F6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>brew version</string>
				<key>subtext</key>
				<string>Display the version of Homebrew.</string>
				<key>text</key>
				<string>brew version</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>22EC5709-DC12-41B8-8B71-B7F0CB6D1F7D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>brew search</string>
				<key>subtext</key>
				<string>Find a package.</string>
				<key>text</key>
				<string>brew search '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2D706DA8-92E4-43EC-AE93-C89FD047B386</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>brew search '{query}'</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>ECA20821-A53F-4901-BDE5-E5C36573A0D0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>06F0D797-6B16-42D8-84A0-7DEF391E6921</key>
		<dict>
			<key>xpos</key>
			<real>130</real>
			<key>ypos</key>
			<real>685</real>
		</dict>
		<key>0BDD3EE1-95BF-4F17-AA8D-621211BE2541</key>
		<dict>
			<key>xpos</key>
			<real>505</real>
			<key>ypos</key>
			<real>815</real>
		</dict>
		<key>0C5ECA5F-B4BE-4237-B104-59E9EE3D919D</key>
		<dict>
			<key>xpos</key>
			<real>130</real>
			<key>ypos</key>
			<real>945</real>
		</dict>
		<key>22EC5709-DC12-41B8-8B71-B7F0CB6D1F7D</key>
		<dict>
			<key>xpos</key>
			<real>130</real>
			<key>ypos</key>
			<real>1195</real>
		</dict>
		<key>26DA2609-8A71-4F58-B9BF-DFD55318CC6D</key>
		<dict>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>2D706DA8-92E4-43EC-AE93-C89FD047B386</key>
		<dict>
			<key>xpos</key>
			<real>130</real>
			<key>ypos</key>
			<real>1320</real>
		</dict>
		<key>40755BCB-52BA-4649-A2BD-23A5376B4650</key>
		<dict>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>411ACE9D-C020-4C1D-BD60-B90894839683</key>
		<dict>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>815</real>
		</dict>
		<key>42F0DC0A-25A1-4226-950C-84FBD1F416DB</key>
		<dict>
			<key>xpos</key>
			<real>505</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>4A839120-0B5F-4728-B35F-10F1D4346DE1</key>
		<dict>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>685</real>
		</dict>
		<key>509B0D63-4875-4B46-B418-1F5F04CA8FBC</key>
		<dict>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>52BD138A-57E0-44AF-966F-99D792B0D03D</key>
		<dict>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>555</real>
		</dict>
		<key>6E5205D5-70BE-46E3-BC0A-57A8D262D72E</key>
		<dict>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>1070</real>
		</dict>
		<key>700EC258-DC12-4938-BC1E-B239D4DF7BF6</key>
		<dict>
			<key>xpos</key>
			<real>125</real>
			<key>ypos</key>
			<real>555</real>
		</dict>
		<key>7FF0F568-2B83-41D3-9A8D-D091DEC1E0EC</key>
		<dict>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>90E562E9-B8E2-4E00-A60E-41CECCEC52E9</key>
		<dict>
			<key>xpos</key>
			<real>130</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>9FC77489-D18B-4426-9E0F-C8A2C0B352A2</key>
		<dict>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>A45563E7-2051-4FAF-BFE4-914A6D8E0A56</key>
		<dict>
			<key>xpos</key>
			<real>125</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>B11B132B-4A61-4C05-8F4F-2111F454E6C6</key>
		<dict>
			<key>xpos</key>
			<real>130</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>B1524FF7-2848-40D1-A48A-A3E551E1F8F6</key>
		<dict>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>1195</real>
		</dict>
		<key>D9127892-B8DC-4F04-9918-7CC1052A97E6</key>
		<dict>
			<key>xpos</key>
			<real>125</real>
			<key>ypos</key>
			<real>815</real>
		</dict>
		<key>E4862B7D-8117-4AC1-A0FB-5D92D3D7F278</key>
		<dict>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>815</real>
		</dict>
		<key>ECA20821-A53F-4901-BDE5-E5C36573A0D0</key>
		<dict>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>1320</real>
		</dict>
		<key>F060EB93-428D-415E-9813-47F1BD48549B</key>
		<dict>
			<key>xpos</key>
			<real>130</real>
			<key>ypos</key>
			<real>1070</real>
		</dict>
		<key>F6F9FB02-DC97-4551-A437-0EA351D514BA</key>
		<dict>
			<key>xpos</key>
			<real>130</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>FDB1EECD-3E1D-4C9A-82C6-5E20F007FECB</key>
		<dict>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>945</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
